.app__wrapper {
  width: 700px;
  margin: 0 auto;
  padding-top: 100px;
}

.app__input {
  margin-right: 20px;
  height: 20px;
  width: 200px;
  margin-bottom: 15px;
}

.app__button {
  height: 25px;
  background: lightblue;
}

.app__select {
  width: 208px;
  height: 30px;
  font-size: 20px;
}

.app__products {
  font-size: 24px;
  margin-right: 25px;
}

.app__body {
  
}

.app__delete {
  color: red;
  padding: 2px;
  font-size: 22px;
}
